/* HOME SCREEN AND HEADERS/FOOTERS/NAVBAR */
/* https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_col-s */
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(64, 23, 77);
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    width: 50%;
    font-size: 36px;
    color: white;
    text-shadow: 10px -5px 15px black;
    /* used codesdope.com to play with text shadow */
    margin: 15px 15px 0px 15px;
    padding: 15px;
}

#pageHeader {
    background: url('https://i.imgur.com/IwzXkdT.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    width: 1024px;
    height: 240px;
    position: relative;
}

#topNav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    background-color: rosybrown;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0 0 25px 25px;
}

#navWrap {
    width: 100%;
    position: absolute;
    bottom: 0;
}

a.navStyle {
    color: black;
    display: block;
}

a.navStyle:active,
a.navStyle:hover {
    text-decoration: none;
}

.mainbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 840px;
    margin: 0 auto;
}

.first,
.second,
.third {
    background-color: floralwhite;
    margin: 15px;
    padding: 24px;
    width: 90%;
}

.first,
.third {
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
    border-radius: 0 25px 25px 25px;
    font-size: medium;
}

.second {
    float: right;
    border-radius: 25px 0 25px 25px;
}

#picContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* //shows the first image */
#picContainer img:first-of-type {
    display: block;
}

/* //hides all other images */
#picContainer img {
    display: none;
    border-radius: 25px;
    border: 2px solid black;
    max-height: fit-content;
    box-sizing: border-box;
    box-shadow: 15px 12px gray;
}

.images {
    display: flex;
    align-items: center;
    width: 400px;
    height: 600px;
}

.button {
    font-size: large;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    width: 100%;
    font-size: 16px;
    margin-top: 25px;
    padding-top: 25px;
}

footer li {
    display: inline-flex;
    list-style: none;
    align-items: center;
    padding: 12px;
    gap: 20px;
}

#contactInfo {
    display: flex;
    flex-direction: column;
}

a {
    display: inline-flex;
    text-decoration: none;
}

/* RELATING TO CV HTML */

.first-resume,
.second-resume,
.third-resume,
.fourth-resume {
    background-color: floralwhite;
    margin: 15px;
    padding: 24px 36px;
    width: auto;
}

.first-resume {
    margin-top: 30px;
}

.resume-item {
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

/* RELATING TO PROJECTS HTML */
.p1,
.p2,
.p3,
.p4 {
    display: flex;
    justify-content: center;
    background-color: floralwhite;
    margin: 15px;
    padding: 24px;
    width: 60%;
}

.p1 {
    margin-top: 30px;
}

.p1,
.p3 {
    margin-left: 25px;
    border-radius: 0 25px 25px 25px;
}

.p2,
.p4 {
    margin-right: 25px;
    border-radius: 25px 0 25px 25px;
}

/* Work Experience Modals */
#modal {
    background-color: white;
    height: auto;
    width: 550px;
    border-radius: 25px;
    margin: 150px auto;
    padding: 10px 15px;
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.2);
}

#modal-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
}

.modal-buttons.open {
    border: none;
    background-color: floralwhite;
}

#modal-footer {
    height: 20px;
}

/* Project modals */
#project-modal {
    background-color: white;
    height: auto;
    width: 550px;
    border-radius: 3vh;
    margin: 150px auto;
    padding: 10px 15px;
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.2);
}

#project-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
}

.project-button.open {
    border: none;
    background-color: floralwhite;
}

#project-footer {
    height: 20px;
}

.close {
    text-shadow: 0 1px 0 whitesmoke;
    opacity: .5;
}

/* Mobile Devices parameters */
@media (max-width: 480px) {
    body {
        padding-left: 5px;
        padding-right: 5px;
    }

    header {
        width: 100%;
    }

    h1 {
        width: 100%;
        line-height: 1em;
        font-size: 24px;
    }

    #topNav {
        font-size: 18px;
    }

    .mainbox {
        /* width: 90%; */
        margin: 10px 12px;
    }

    #welcomeheader,
    #roots {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;

    }

    .p1,
    .p2,
    .p3,
    .p4 {
        margin: 10px;
        padding: 10px;
    }

    .images {

        height: auto;
        width: 80%;
    }

    .button.previous {

        margin-right: 15px;

    }

    .button.next {
        margin-left: 20px;

    }

    #pageHeader {
        width: 90%;
    }

    #topNav {
        display: flex;
        flex-direction: column;
    }

    #topNav li {
        margin-bottom: 10px;
    }

    .resume-item {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: 10px;
        padding: 10px;

    }

    .resume-item h3 {
        line-height: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 0;
        margin-top: 0;
    }

    #contactInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer ul {
        margin: 10px 0;
    }

    footer li {
        padding: 5px 12px;
    }

    footer #links {
        margin-bottom: 30px;
    }

    footer li img {
        display: inline-flex;
        list-style: none;
        align-items: center;
        height: 40px;
        width: 40px;
        padding: 8px;
        gap: 5px;
    }

    #modal,
    #project-modal {
        width: auto;
        font-size: 12px;
    }
}