/* HOME SCREEN AND HEADERS/FOOTERS/NAVBAR */
body {
    background-color: rgb(64, 23, 77);
    margin-left: 3vh;
    margin-right: 3vh;
    width: 100%;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    width: 50%;
    /* block-size: 20vh; */
    font-size: 6vh;
    color: white;
    text-shadow: 2vh -1vh 2vh #000;
    /* used codesdope.com to play with text shadow */
    margin: 15px 15px 0px 15px;
    padding: 15px;
}

#pageHeader{
    background: url('https://i.imgur.com/IwzXkdT.jpg');
    background-size: cover;
    background-position: center;
    /* border-radius: 3vh 3vh 0 0; */
    border-radius: 3vh;
    width: 1024px;
    height: 240px;
    position: relative;
}

#topNav{
    display: flex;
    list-style-type: none;
    /* margin: 0 15px 0px 15px; */
    margin: 0;
    padding: 15px;
    background-color: rosybrown;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0 0 3vh 3vh;
}

#navWrap {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.navStyle {
    color: black;
}

.mainbox {
    display: flex;
    flex-direction: column;
    /* block-size: 12vh; */
    width: 1024px;
    margin: 0 auto;
}

.first, .second, .third, .fourth {
    display: flex;
    justify-content: center;
    background-color: floralwhite;
    margin: 3vh;
    padding: 4vh;
    width: 60%
}

.first, .third {
    display: flex;
    flex-direction: column;
    float: left;
    border-radius: 0 3vh 3vh 3vh;
    /* border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh; */
}

.second, .fourth {
    display: flex;
    float: right;
    border-radius: 3vh 0 3vh 3vh;
    /* border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh; */
}

.workExpList li {
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    width: 100%;
    font-size: 3vh;
    margin-top: 25px;
    padding-top: 25px;
}

footer li {
    display: inline-flex;
    list-style: none;
    align-items: center;
    padding: .5vh;
    gap: 20px;
}

a {
    display: inline-flex;
    text-decoration: none;
}

.third > .content {
    height: 8.5vh;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
}

.third > .content.show {
    height: 250px;
}

.third > .content > .workExpList {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    /* stackoverflow, https://stackoverflow.com/questions/3331353/transitions-on-the-css-display-property */
}

.third > .content.show > .workExpList {
    visibility: visible;
    opacity: 1;    
}

/* .third > */

/* RELATING TO CV HTML */

.first-resume, .second-resume, .third-resume, .fourth-resume {
    background-color: floralwhite;
    margin: 3vh;
    padding: 4vh 6vh;
    width: 60%;
}

.first-resume, .third-resume {
    /* border-radius: 3vh;; */
    /* border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh; */
}
.second-resume, .fourth-resume {
    /* border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh; */
}
.to-the-left {
    display: flex;
    justify-content: flex-start;
}
.to-the-right {
    display: flex;
    justify-content: flex-end;
}
.resume-item {
    border-radius: 3vh;
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 500px) {
    body {
        padding-left: 5px;
        padding-right: 5px;
    }
    h1 {
        width: 100%;
        line-height: 1em;
        font-size: 4vh;
    }
    #pageHeader{
        width: 90%;
    }
    #topNav {
        display: flex;
        flex-direction: column;
    }
    .resume-item {
        display: flex;    
        flex-direction: column;
        /* align-items: center;
        justify-content: space-between; */
    }
}

/* RELATING TO PROJECTS HTML */
.project1, .project2, .project3, .project4 {
    display: flex;
    justify-content: center;
    background-color: floralwhite;
    margin: 3vh;
    padding: 4vh;
    width: 60%;

}
.project1, .project3 {
    display: flex;
    flex-direction: column;
    float: left;
    border-radius: 0 3vh 3vh 3vh;
    /* border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh; */
}
.project2, .project4 {
    display: flex;
    float: right;
    border-radius: 3vh 0 3vh 3vh;
    /* border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh; */
}